<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h3>アーティスト登録</h3>
                    <%= form_for(@artist) do |f| %>
                        <%= f.text_field :artist_name, autofocus: true, class: "form-control", placeholder: "新規登録するアーティスト名を入力" %>
                        <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-block" %>
                    <% end %>
            </div>

            <div class="col-xs-6 col-md-offset-1">
                <table class="table table-hover" table-inverse>
                    <thead>
                        <tr>
                            <th>登録No.</th>
                            <th>アーティスト名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @artists.each do |artist| %>
                            <tr>
                                <td><%= artist.id %></td>
                                <td><%= artist.artist_name %></td>
                                <td><%= link_to "削除", artist_path(artist.id), class: "btn btn-danger btn-xs", method: :delete, data:{ confirm: "本当に削除しますか？" } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>