<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h3>レーベル登録</h3>
                    <%= form_for(@label) do |f| %>
                        <%= f.text_field :label_name, autofocus: true, class: "form-control", placeholder: "新規登録するレーベル名を入力" %>
                        <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-block" %>
                    <% end %>
            </div>

            <div class="col-xs-6 col-md-offset-1">
                <table class="table table-hover" table-inverse>
                    <thead>
                        <tr>
                            <th>登録No.</th>
                            <th>レーベル名</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @labels.each do |label| %>
                            <tr>
                                <td><%= label.id %></td>
                                <td><%= label.label_name %></td>
                                <td><%= link_to "削除", label_path(label.id), class: "btn btn-danger btn-xs", method: :delete, data:{ confirm: "本当に削除しますか？" } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <%= link_to '新規商品追加へ', new_admins_product_path, class: "btn btn-warning btn-sm" %>
    </div>
</div>