<%= render "enduser/admin" %>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div style="border: 2px solid #8C8C00;">
				<table>
					<thead>
						<tr>
							<th style="width: 40%; padding-left: 10px">ID</th>
							<th>名</th>
							<th style="width: 39%;">前</th>
							<th>編集</th>
							<th>　削除</th>
						</tr>
					</thead>
					<div class="row">
					<tbody>
						<% @endusers.each do |user| %>
						<tr>
							<td style="width: 40%; padding-left: 10px"><%= user.id %></td>
							<td><%= user.first_name %></td>
							<td style="width: 39%;"><%= user.family_name %></td>
							<td><%= link_to "Edit", admins_endusers_path %></td>	
							<td>
								 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
							</td>
						</tr>
						<% end %>
					</tbody>
					</div>
				</table>
			</div>
		</div>
	</div>
</div>