<%= render "endusers/admin" %>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div style="border: 2px solid #8C8C00;">
				<table class="table" style="width: 100%;">
					<thead>
						<tr>
							<th class="col-lg-1 col-md-1">ID</th>
							<th class="col-lg-4 col-md-4">姓</th>
							<th class="col-lg-4 col-md-4">名</th>
							<th class="col-lg-1 col-md-1">編集</th>
							<th class="col-lg-2 col-md-2">削除</th>
						</tr>
					</thead>
					<tbody>
						<% @endusers.each do |u| %>
						<tr>
							<td class="col-lg-1 col-md-1"><%= link_to u.id , admins_enduser_path(u) %></td>
							<td class="col-lg-4 col-md-4"><%= link_to u.family_name , admins_enduser_path(u) %></td>
							<td class="col-lg-4 col-md-4"><%= link_to u.first_name , admins_enduser_path(u) %></td>
							<td class="col-lg-1 col-md-1"><%= link_to "編集", edit_admins_enduser_path(u) , class: "btn btn-warning"%></td>
							<td class="col-lg-2 col-md-2">
								<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-danger"%>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>