<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div style="border: 2px solid #8C8C00;">
				<table>
					<thead>
						<tr>
							<th style="width: 50%; padding-left: 10px">ID</th>
							<th>名</th>
							<th style="width: 39%;">前</th>
							<th>編集</th>
							<th>　削除</th>
						</tr>
					</thead>
					<div class="row">
					<tbody>
						<% @endusers.each do |enduser| %>
						<tr>
							<td style="width: 50%; padding-left: 10px"><%= enduser.id %></td>
							<td><%= enduser.first_name %></td>
							<td style="width: 39%;"><%= enduser.family_name %></td>
							<td><%= link_to "Edit", admins_endusers_path %></td>	
							<td><%= link_to "Dlete", admins_endusers_path, method: :delete, data:{confirm: '削除しますか？'} %></td>
						</tr>
						<% end %>
					</tbody>
					</div>
				</table>
			</div>
		</div>
	</div>
</div>