  <header class>
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <h3>exCDing</h3>
      </nav>
      <nav class="nav navbar-nav navbar-left">
      </nav>

      <nav class="nav-box">
        <ul class="nav navbar-nav bg-success navbar-right">
          <% if enduser_signed_in? %>

          <li class="nav-list-item"><p>username</p></li>


          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-home home" %></li>
          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-shopping-cart" %></li>
          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-user" %></li>
          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-log-out" %></li>
          <% else %>

          <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="検索キーワード">
          </div>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </form>

          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-home home" %></li>
          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-shopping-cart" %></li>
          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-user" %></li>
          <li class="nav-list-item"><%= link_to '　', admins_products_path ,class: "glyphicon glyphicon-log-in" %></li>

          <% end %>
        </ul>
      </nav>


    </div>


  </header>