<%= render  "endusers/header" %>
<body>
	<div id="wrapper">

	<div class=container>
		<div class ="col-lg-3 col-md-3 user-info-form ">
			<div class = "row" >
				<div class="form-user style-2">
					<h2 style="text-align: center;">会員情報</h2>
					<table class="table" >
						<tbody>
							<tr>
								<th>Name</th>
								<th><%= "#{current_enduser.family_name}" + "#{current_enduser.first_name}" %></th>
							</tr>
							<tr>
								<th>住所</th>
								<th><%= "#{current_enduser.registration_address}" %></th>
							</tr>
							<tr>
								<th>郵便番号</th>
								<th><%= "#{current_enduser.registration_postal_code}" %></th>
							</tr>
							<tr>
								<th>電話番号</th>
								<th><%= "#{current_enduser.phone_number}" %></th>
							</tr>
							<tr>
								<th>メールアドレス</th>
								<th><%= "#{current_enduser.email}" %></th>
							</tr>
						</tbody>
					</table>
            		<%= link_to edit_enduser_path(current_enduser.id) , class: "col-xs-12 btn btn-warning glyphicon glyphicon-wrench edit_enduser_#{}" do %>
          			<% end %>
				</div>
			</div>
		</div>

	<div class="turbolinks=false">
		<div class ="col-lg-8 col-md-8 col-md-offset-1 col-lg-offset-1">

			<div class="row">
				<ul class="tab clearfix" style= "margin-bottom: 0;">

				    <li  class="active fa fa-history" style="font-size: 30px;"></li>
				    <li  class="tab  fa fa-heart"  style="font-size: 30px; "></li>
				</ul>


		      <div class="area">
		        <ul >
		          <% @history.each do |h| %>
		          <div class="product-cart">
							<table>
								<tbody>
									<tr>
										<td class="product-cart-index">
											宛名:<%=  h.ship_name %>
										</td>
										<td class="product-cart-index">
											宛先:<%= h.ship_address %>
										</td>
										<td class="product-cart-index">
											¥
											<%= h.purchase_amount %>
										</td>
										<td class="product-cart-index">
											注文日:<%= h.created_at.strftime("%Y-%m-%d") %>
										</td>
									</tr>
								</tbody>
							</table>
							<% h.order_details.each do |d| %>
								<div class ="order-detail">
									<table>
										<% if d.product.favorited_by?(current_enduser) %>
										<tbody>
											<tr>
												<td class ="product-cart-index">
													<%= link_to product_path(d.product.id)do %>
													<%= attachment_image_tag d.product, :jacket, size: "140x140" , fallback: "l_e_others_500.jpg" %>
													<% end %>
												</td>

												<td class="product-cart-index">　</td>
												<td class="product-cart-index">
													<p>Teitle：</p>
													<p>購入枚数：</p>
													<p>小計：</p>
													
												</td>
												<td class="product-cart-index">
													<P><%= link_to d.product.product_name , product_path(d.product.id) %></P>
													<p><%= d.purchase_qty %></p>
													<p><%= d.purchase_price %></p>
												</td>
												<td class =" product-cart-index">
													<p>
										                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
										            </p>
												</td>

											</tr>
										</tbody>
										<% else  %>
										<tbody>
											<tr>
												<td class ="product-cart-index">
													<%= link_to product_path(d.product.id)do %>
													<%= attachment_image_tag d.product, :jacket, size: "140x140" , fallback: "l_e_others_500.jpg" %>
													<% end %>
												</td>
												<td class="product-cart-index">　</td>
												<td class="product-cart-index">
													<p>Teitle：</p>
													<p>購入枚数：</p>
													<p>小計：</p>
												</td>
												<td class="product-cart-index">
													<P><%= link_to d.product.product_name , product_path(d.product.id) %></P>
													<p><%= d.purchase_qty %></p>
													<p><%= d.purchase_price %></p>
												</td>
												<td class="product-cart-index">
												</td>

											</tr>
										</tbody>
										<% end %>
									</table>
								</div>
							<% end %>
						</div>
		          <% end %>
		        </ul>
		        <ul>
						<% @favorites.each do |f| %>
						<div class="product-cart">
							<table>
								<tbody>
									<tr>
										<td class="product-cart-index" style="padding-left: 5px;">
											<%= link_to product_path(f.product.id) do %>
										        <%= attachment_image_tag f.product, :jacket, size: "140x140" , fallback: "l_e_others_500.jpg" %>
										    <% end %></td>
										<td class="product-cart-index">　</td>
										<td class="product-cart-index">
											<p>Teitle：</p>
											<p>ジャンル：</p>
											<p>レーベル：</p>
											<p>アーティスト</p>
										</td>
										<td class="product-cart-index">
											<label><%= link_to f.product.product_name, product_path(f.product.id) %></label>
											<p><%= f.product.disks.first.songs.first.genre.genre_name %></p>
											<p><%= f.product.label.label_name %></p>
											<p><%= f.product.disks.first.songs.first.artist.artist_name%></p>
										</td>
										<td class="product-cart-index">
											¥
											<%= f.product.price %>

									           <p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									            </p>

										</td>
										<td class="product-cart-index"></td>
										<td class="product-cart-index">　</td>
									</tr>
								</tbody>
							</table>
						</div>
						<% end %>
		        </ul>
		      </div>

			</div>
		</div>
	</div>
</div>
</div>

</body>

