<%= render  "endusers/header" %>
<body>
	<div class=container>
		<div class ="col-lg-3 col-md-3 user-info-form ">
			<div class = "row" >
				<div class="form-user style-2">
					<h2 style="text-align: center;">会員情報</h2>
					<table class="table" >
						<tbody>
							<tr>
								<th>Name</th>
								<th><%= "#{current_enduser.family_name}" + "#{current_enduser.first_name}" %></th>
							</tr>
							<tr>
								<th>住所</th>
								<th><%= "#{current_enduser.registration_address}" %></th>
							</tr>
							<tr>
								<th>郵便番号</th>
								<th><%= "#{current_enduser.registration_postal_code}" %></th>
							</tr>
							<tr>
								<th>電話番号</th>
								<th><%= "#{current_enduser.phone_number}" %></th>
							</tr>
							<tr>
								<th>メールアドレス</th>
								<th><%= "#{current_enduser.email}" %></th>
							</tr>
						</tbody>
					</table>
            		<%= link_to edit_enduser_path(current_enduser.id) , class: "col-xs-12 btn btn-warning glyphicon glyphicon-wrench edit_enduser_#{}" do %>
          			<% end %>
				</div>
			</div>
		</div>


		<div class ="col-lg-8 col-md-8 col-md-offset-1 col-lg-offset-1">

			<div class="row">
				<ul class="tab clearfix" style= "margin-bottom: 0;">

				    <li  class="active fa fa-history" style="font-size: 30px;"></li>
				    <li  class="tab  fa fa-heart"  style="font-size: 30px; "></li>
				</ul>


		      <div class="area">
		        <ul  class="show">
		          <p>TAB1のテキストが入ります。TAB1のテキストが入ります。TAB1のテキストが入ります。TAB1のテキストが入ります。</p>
		        </ul>
		        <ul>
						<% @favorites.each do |f| %>
						<div class="product-cart">
							<table>
								<tbody>
									<tr>
										<td class="product-cart-index" style="padding-left: 5px;">
											<%= link_to product_path(f.product.id) do %>
										        <%= attachment_image_tag f.product, :jacket, size: "140x140" %>
										    <% end %></td>
										<td class="product-cart-index">　</td>
										<td class="product-cart-index">
											<p>Teitle：</p>
											<p>ジャンル：</p>
											<p>レーベル：</p>
											<p>アーティスト</p>
										</td>
										<td class="product-cart-index">
											<label><%= link_to f.product.product_name, product_path(f.product.id) %></label>
											<p><%= f.product.disks.first.songs.first.genre.genre_name %></p>
											<p><%= f.product.label.label_name %></p>
											<p><%= f.product.disks.first.songs.first.artist.artist_name%></p>
										</td>
										<td class="product-cart-index">
											¥
											<%= f.product.price %>
											<p><%= link_to product_favorites_path(f.product), method: :delete do %>
									           <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									            いいね
									        <% end %></p>
										</td>
										<td class="product-cart-index"></td>
										<td class="product-cart-index">　</td>
									</tr>
								</tbody>
							</table>
						</div>
						<% end %>
		        </ul>
		      </div>

			</div>
		</div>
	</div>

</body>

