<%= render "endusers/header" %>
<div id="wrapper">
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-2">
			<div class="box-order-index">
				<h3 class="complete-massage-order" style="color: orange;font-weight: bolder;">ありがとうございます。注文が確定されました。</h3>
				<div class="table-order">
				<table>
			      <tbody>
					<tr>
						<td>お届け先　　</td>
						<td><%= @order.last.ship_address %></td>
					</tr>
					<tr>
						<td>宛名　　</td>
						<td><%= @order.last.ship_name %></td>
					</tr>
					<tr>
						<td>注文日　　</td>
						<td><%= @time %></td>
					</tr>
				  </tbody>
				</table>
				</div>
			</div>
			<dir class="row">
				<div class="col-lg-2 col-lg-offset-7">
				  <h4><%= link_to '確認', products_path, class:"btn btn-success col-xs-6"  %></h4>
			    </div>
			</dir>
		</div>
	</div>
</div>
</div>