<%= render "endusers/admin" %>
<section class="slice slice-lg sct-color-1 log-in-slice">
<div class ="container">
  <div class="form-group row ">
    <div class="log-in-form">
          <div class="center-block">
              <h2 style="font-family: Georgia; ">exCDing</h2>
              <div class="form-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field log-in-field">
                  <font size="2">メールアドレス</font><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="field log-in-field">
                </style>
                    <font size="2">パスワード</font><br />
                    <%= f.password_field :password, autocomplete: "current-password" %><br>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "パスワードをお忘れですか?", new_password_path(resource_name) %><br />
                  <% end %>
                </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="field" >
                      <%= f.check_box :remember_me %>
                      <font size="2">remember me</font>
                    </div>
                  <% end %>
                <div class="actions">
                  <%= f.submit"ログイン" ,class: "btn btn-warning btn-log-in" %>
                </div>
              <% end %>
              <%= render "endusers/shared/Sign_In_links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


