<h3>レーベル登録</h3>

	<%= form_for(@lebel) do |f| %>
		<%= f.text_field :lebels_name, "新規登録するレーベル名を入力" %>
		<%= f.submit "新規登録" %>
	<% end %>

	<table>
        <thead>
          	<tr>
              	<th>登録No.</th>
              	<th>レーベル名</th>
            </tr>
         </thead>

        <tbody>
            <% @lebels.each do |lebel| %>
              	<tr>
                	<td><%= lebel.id %></td>
                	<td><%= lebel.lebel_name %></td>
                	<td><%= link_to "削除", admin_lebel_path(lebel.id), method: :delete, data:{ confirm: "本当に削除しますか？" } %></td>
              	</tr>
            <% end %>
        </tbody>
    </table>