<%= render "endusers/header" %>
<div class="container">
	<h2>ショッピングカート</h2>
	<div class="row">
		<div class="col-lg-8 col-md-8 ">
			<% @carts.each do |cart| %>
			<div class="product-cart">
				<table>
					<tbody>
						<tr>
							<td class="product-cart-index" style="padding-left: 5px;"><%= attachment_image_tag cart.product, :jacket, size: "115x115" %></td>
							<td style="padding: 20px;"></td>
							<td class="product-cart-index">
								<p>Teitle：</p>
								<p>ジャンル：</p>
								<p>レーベル：</p>
								<p>在庫：</p>
							</td>
							<td class="product-cart-index">
								<p><%= cart.product.product_name %></p>
								<p><%= cart.product.disks.first.songs.first.genre.genre_name %></p>
								<p><%= cart.product.label.label_name %></p>
								<p>有</p>
							</td>
							<td class="product-cart-index"><%= cart.product_count * cart.product.price %>円</td>
							<td style="padding: 30px;"></td>
							<td class="product-cart-index"　colspan="2">
								<%= form_for(cart) do |f| %>
								<p style="text-align: left;"><%= f.number_field :product_count,start:cart.product_count, min:1,max:cart.product.product_stock, step:1 %>個<br><%= f.submit "数量変更" %></p>
								<% end %>
								<p style="text-align: left;"><%= link_to "削除", product_cart_path(cart.id), method: :delete, data:{confirm: '削除しますか？'} %></p>
							</td>
							<td style="padding: 20px;"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<% end %>	
			<div class="row">
				<div class="col-lg-12">
					<table>
						<tr>
							<td class="product-cart-index"><%= link_to '一覧画面へ',root_path, class: "btn btn-danger col-lg-3" %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="slide-box">
			<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 ">
			  <div class="product-cart">
			  	<div class="row">	
						<div class="col-lg-12">
							<table>
								<tbody>
									<tr>
										<td class="product-cart-index">
											<p><span>小計</span><%= get_price(@carts) %>円(税抜き)</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>

				<div class="row">
					<div>
						<div class="col-lg-12">
							<p><%= link_to '購入画面へ進む', new_order_path,class: "btn btn-success col-xs-12" %></p>
						</div>
					</div>
				</div>
			  </div>		  
			</div>
		</div>
	</div>
</div>