<div class="nested-fields well well-compact">
  	<div class="field">
    	<%= f.label :song_name, "曲名" %>
    	<%= f.text_field :song_name %>
	</div>

    <div class="field">
    	<%= f.label :number, "曲順" %>
    	<%= f.text_field :number %>
	</div>

    <div class="field">
        <%= f.label :artist_id, "アーティスト名" %>
        <%= f.select :artist_id, options_from_collection_for_select(Artist.all, :id, :artist_name) %>
        <%=link_to "アーティスト名を追加", artists_path, class: "btn btn-info btn-xs" %>
    </div>

    <div class="field">
        <%= f.label :genre_id, "ジャンル名" %>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %>
              <%=link_to "ジャンル名を追加", genres_path, class: "btn btn-info btn-xs" %>
    </div>

    <%= link_to_remove_association "曲削除", f, {class: "btn btn-danger btn-xs", role: "button"}%>
</div>