<%= render "endusers/admin" %>
  <div class="body">
    <div class="container">
      <h1>商品情報更新</h1>
        <%= form_for(@product, :url => admins_product_path) do |f| %>

          <div class="col-xs-4">
            <div class="field">
              <%= f.label :jacket_id, "ジャケット画像" %>
              <%= f.attachment_field :jacket, class: "col-xs-12 btn btn-default btn-sm" %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="field">
              <%= f.label :product_name, "商品名：" %>
              <%= f.text_field :product_name, placeholder: "新規登録する商品名を入力" %>
            </div>

            <div class="field">
              <%= f.label :label_id, "レーベル名：" %>
              <%= f.select :label_id, options_from_collection_for_select(Label.all, :id, :label_name), {prompt: "選択してください"} %>
              <%=link_to "レーベル名がなければこちらから追加", labels_path, class: "btn btn-primary btn-xs" %>
            </div>

            <div class="field">
              <%= f.label :disks, "ディスク" %>
              <%= f.fields_for :disks do |d| %>
                <%= render 'disk_fields', :f => d %>
              <% end %>

              <div class="field">
                <%= link_to_add_association "ディスクを追加",f, :disks, {class: "btn btn-primary btn-xs", role: "button"} %>
              </div>
            </div>

            <div class="field">
              <%= f.label :product_status, "ステータス：" %>
              <%= f.select :product_status, [["販売中"], ["販売停止中"]] %>
            </div>

            <div class="field">
              <%= f.label :product_stock, "在庫数：" %>
              <%= f.number_field :product_stock, min:0, step:0, placeholder: "新規登録する在庫数を入力" %>
            </div>

            <div class="field">
              <%= f.label :price, "価格(税抜)：" %>
              <%= f.text_field :price, placeholder: "新規登録する価格を入力" %>
            </div>

            <%= f.submit "更新", class: "btn btn-success btn-sm" %>
          </div>
        <% end %>
    </div>
  </div>