<h2>商品一覧</h2>
    <div class="table-responsive">
      <table id="select" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>画像</th>
            <th>シングル・アルバム名</th>
            <th>アーティスト名</th>
            <th>価格（税抜）</th>
            <th>在庫数</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |p| %>
            <tr>
              <td><%= attachment_image_tag p, :image, size: "30x30", format: 'png', fallback: "/images/noimage.png" %></td>
              <td><%= p.title %></td>
              <td><%= p.artist.artist %></td>
              <td>¥<%= p.price %></td>
              <td><%= p.stock %></td>
              <td><%= p.status %></td>
              <td><%= link_to "編集", edit_admins_products_path(product), class: "btn btn-success btn-xs btn-block" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
