<%= render "endusers/admin" %>
<div class="container">
  <h2>商品一覧</h2>
    <div>
      <%=link_to "商品新規登録", new_admins_product_path, class: "btn btn-success btn-sm" %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ジャケット</th>
            <th>商品名　　　　　</th>
            <th>価格（税抜）</th>
            <th>在庫数</th>
            <th>ステータス</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @search_products.each do |product| %>
            <tr>
              <td><%= attachment_image_tag product, :jacket, size: "30x30", fallback: "l_e_others_500.jpg"%></td>
              <td><%= link_to product.product_name, admins_product_path(product.id) %></td>
              <td>￥<%= product.price %>円</td>
              <td><%= product.product_stock %>個</td>
              <td><%= product.product_status %></td>
              <td><%= link_to "編集", edit_admins_product_path(product.id), class: "btn btn-primary btn-xs", role: "button" %></td>
              <td><%= link_to "削除", admins_product_path(product.id), class: "btn btn-danger btn-xs", method: :delete, data:{ confirm: "本当に削除しますか？" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>