<%= render "endusers/header" %>
<div id="wrapper">
  <div class="bg-1"></div>
  <div class="bg-1">
    <div style="padding-top: 50px;">
          <ul class ="bxslider-3" style="width: 100%;">
            <% @products.each do |j| %>
              <li>
              <%= link_to product_path(j.id) do %>
                  <%= attachment_image_tag j, :jacket, size: "100x100" , fallback: "l_e_others_500.jpg" %>
              <% end %>
              </li>
            <% end %>
          </ul>
    </div>
      <div class="bxslider1">
        <div id="slider-wrapper">
        <div id="slider-inner">
          <ul class ="bxslider">
            <% @products.each do |j| %>
              <li>
              <%= link_to product_path(j.id) do %>
                  <%= attachment_image_tag j, :jacket, size: "350x350" , fallback: "l_e_others_500.jpg" %>
              <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        </div>
          <ul class ="bxslider-2" style="width: 100%;">
            <% @products.each do |j| %>
              <li>
              <%= link_to product_path(j.id) do %>
                  <%= attachment_image_tag j, :jacket, size: "100x100" , fallback: "l_e_others_500.jpg" %>
              <% end %>
              </li>
            <% end %>
            </li>
        </ul>
      </div>
    </div>

<div class="block"></div>


<div class="container">
  <div class = "row">

    <div class = "col-lg-2">
      <h2>商品一覧</h2>
      <label>いいね数ランキング</label>
      <% @all_ranks.each.with_index(1) do |r, i| %>
        <h4>
          <%= "第#{i}位" %>
          <%= link_to product_path(r.id) do %>
                  <%= attachment_image_tag r, :jacket, size: "140x140" , fallback: "l_e_others_500.jpg" %>
                <% end %>
            <%= link_to r.product_name , product_path(r.id) %>
        </h4>
      <% end %>
          <label>PV数ランキング</label>
          <% @most_viewed.each.with_index(1) do |rank, i| %>
            <h4>
              <td><%= "#{i}位" %></td>
              <%= link_to product_path(rank.id) do %>
                  <%= attachment_image_tag rank, :jacket, size: "140x140" , fallback: "l_e_others_500.jpg" %>
                <% end %>
              <%= link_to rank.product_name , product_path(rank.id) %>
              <%= rank.impressions_count %>pv
            </h4>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class = "col-lg-10">
      <div class = "row">
        <% @search_products.each do |product| %>
          <div class = "col-lg-2 col-lg-offset-2">
            <th>
              <div>
                <%= link_to product_path(product.id) do %>
                  <%= attachment_image_tag product, :jacket, size: "240x240" , fallback: "l_e_others_500.jpg" %>
                <% end %>
              </div>
              <div><%= link_to product.product_name, product_path(product.id) %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= product.favorites.count  %>
              </div>
              <div><%= product.disks.first.songs.first.artist.artist_name %></div>
              <% if product.product_status == "販売中" %>
                <div>￥<%= product.price %>円(税込)</div>
              <% else %>
                <div><%= product.product_status %></div>
              <% end %>
            </th>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

