<%= render "endusers/admin" %>
<%= form_for(@user) do |f| %>
<div class="container">
	<h4>購入履歴一覧</h4>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>注文日</th>
				<th>購入者</th>
				<th>注文内容</th>
				<th>合計金額</th>
				<th>支払い方法</th>
				<th>処理状態</th>
				<td></td>)
			</tr>
		</thead>
		<tbody>

			<% @orders.each do |order| %>
			<tr>
				<td><%= order.created_at.strftime("%Y-%m-%d") %></td>
				<td><%= order.ship_name %></td>
				<td><%=  %></td>
				<td><%= order.purchase_amount %></td>
				<td><%= order.payment %></td>
				<td><%= f.select :ship_address, [[order.order_status],["商品準備中"],["出荷済"]] %></td>
				<td><%= f.submit "更新", class: "btn btn-success btn-sm" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>