<!DOCTYPE html>
<html>
  <head>
    <title>Excding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span>exCDing</span>
      </nav>
      <nav class="nav navbar-nav navbar-left">
      </nav>

      <nav class="nav-box">
        <ul class="nav navbar-nav navbar-right">
          <% if enduser_signed_in? %>
          <li class="nav-list-item"><p>username</p></li>
          <li class="nav-list-item">
          <li class="glyphicon glyphicon-home home" %></li>
          <li class="nav-list-item"></li>
          <li class="nav-list-item"></li>
          <li class="nav-list-item"></li>
          <% else %>
          <li class="nav-list-item"></li>
          <li class="nav-list-item"></li>
          <li class="nav-list-item"></li>
          <li class="nav-list-item"></li>
          <% end %>
        </ul>
      </nav>


    </div>
    <%= yield %>
  </body>
</html>
